header{
    background-color: indigo;
    height: 10vh;

}

.titulo{
    
    color: white;
}

nav{
    position:relative;
    top: 10px;
    
}


ul{
    margin-left: 200px;
}

/*-------- Capa1 ------- */
#banner{
    height: 77vh;
}



 #banner .container .row{
    height: 70vh;
}


/*-------- Capa1 ------- */

#about{
    background-color: blueviolet;
    height: 90vh;
    color: yellow;
}

#about .container .row{
    height: 100vh;
}



/*-------- Capa3 ------- */

.iconify { 
    color: indigo;
    width: 250px;
    height: 100px;
}


.links{
    
        height: 77vh;
        border: none;
    }
    
    
    
     #links.container .row{
        height: 70vh;
    }

 .links a{
     background-color:  blueviolet;
 }   

/*-------- Footer ------- */

footer{

    background-color: indigo;
    height: 20vh;
    color: white;
}