header{
    background-color: indigo;
    height: 10vh;

}

.titulo{
    
    color: white;
}

nav{
    position:relative;
    top: 10px;
    
}
nav-link{
    color: white;
}


ul{
    margin-left: 200px;
}

/*-------- Capa1 ------- */


 #banner .container .row{
    height: 70vh;
}

/*-------- Capa1 ------- */

#about{
    background-color: indigo;
    height: 80vh;
    color: white;
}
#about .container .row{
    height: 70vh;
}

/*-------- Capa3 ------- */

img{
    width: 350px;
    height: 250px;
    border-radius: 2%;
}


span{
    cursor: pointer;
}
.titulosite{
    margin-top: 10px;
}


/*-------- Capa4 ------- */

.iconify { 
    color: white;
    width: 250px;
    height: 100px;
}

.infos-projeto{
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 40px;

}
.infos-contato{
    margin-bottom: 40px;
    
}
.card{
    border: none;

}
.links{

        border: none;
    }
    
    
    
     #links.container .row{
        height: 70vh;
    }

 .btn{
     background-color:  blueviolet;
 }   

/*-------- Footer ------- */

footer{

    background-color: indigo;

    color: white;
}

h4{
    margin-top: 20px;
}